@using Epam._06_01.BLL.Interfaces;
@using Epam._06_01.Entities;
@using Epam._06_01.Handlers;
@using Epam._06_01.IOC;
@using Epam._06_01.WebPL.Models;
@{
    Layout = null;
    string PageTitle = "Web application :: Awards";
    IUserLogic userLogic = DependencyResolver.UserLogic;
    IAwardLogic awardLogic = DependencyResolver.AwardLogic;
    MyRoleProvider roleProvider = new MyRoleProvider();
}
<!DOCTYPE html>

<html>
<head>
    @RenderPage("~/Pages/_HeaderLayout.cshtml")
    <link href="~/Content/styles.css" rel="stylesheet" />
    <title>@PageTitle</title>
</head>
<body>
    @RenderPage("~/Pages/_BodyLayout.cshtml")
    <!--Content section-->

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>

                </th>
                <th>
                    Control
                </th>

            </tr>
        </thead>
        <tbody>
            @{var result = awardLogic.GetAll().ToList();}
            @foreach (var item in result)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td name="awardName">
                        @item.Name
                    </td>
                    <td>
                        @{
                            if (item.Photo != null)
                            {
                                <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Photo))">
                            }
                            else
                            {
                                <img src="~/Content/images/default_award.jpg" width="25px" height="25px">
                            }
                        }

                    </td>
                    <td name="@item.Id">
                        @if (roleProvider.IsUserInRole(User.Identity.Name, "ADMIN"))
                        {
                            <div class="action" name="award-action">
                                <div class="btn btn-info" name="edit">Edit award</div>
                                <div class="btn btn-danger" name="delete">Delete award</div>
                            </div>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <!--Content section-->
    @RenderPage("~/Pages/_ButtonSection.cshtml")

    @RenderPage("~/Pages/_FooterLayout.cshtml")
    <script src="~/Scripts/app/actions.js"></script>
    <script src="~/Scripts/app/js.js"></script>


</body>
</html>