@using Epam._06_01.BLL.Interfaces;
@using Epam._06_01.Entities;
@using Epam._06_01.Handlers;
@using Epam._06_01.IOC;
@using System.Drawing;
@{
    Layout = null;
    IUserLogic userLogic = DependencyResolver.UserLogic;
    IAwardLogic awardLogic = DependencyResolver.AwardLogic;
    string PageTitle = "Edit award";
    string awardName = "";
    uint idAward = 0;
    WebImage photo = null;
    byte[] newPhoto = new byte[] { };
    var newFileName = "";

    if (!IsPost)
    {

        uint.TryParse(Request["id"], out idAward);
        if (idAward != 0)
        {
            awardName = awardLogic.GetById(idAward).Name;
        }
    }
    if (IsPost)
    {
        uint.TryParse(Request["inputId"], out idAward);
        string newValue = Request["inputName"];
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" + Path.GetFileName(photo.FileName);
            photo.Resize(width: 25, height: 25, preserveAspectRatio: true, preventEnlarge: true);
            newPhoto = photo.GetBytes();
        }
        if (idAward != 0 && newValue != null && newValue != "")
        {
            awardLogic.EditById(idAward, newValue, newPhoto);
        }
        Response.Redirect("~/awards");
    }
}
<!DOCTYPE html>

<html>
<head>
    @RenderPage("~/Pages/_HeaderLayout.cshtml")
    <title>@PageTitle</title>
</head>
<body>
    @RenderPage("~/Pages/_BodyLayout.cshtml")
    <!--Content section-->
    <form action="~/EditAward.cshtml" method="post" class="form-edit" enctype="multipart/form-data">
        <input type="text" class="form-control" name="inputId" value="@idAward" hidden>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="inputName" value="@awardName">
            </div>
            <div class="form-edit-alert alert alert-danger col-xs-6">!!!</div>
        </div>
        <div class="form-group row">
            <label for="inputFile" class="col-sm-2 col-form-label">Image</label>
            <div class="col-sm-10">
                <input type="file" name="inputFile">
            </div>
        </div>
        <div class="form-group row">
            <label for="ImageFile" class="col-sm-2 col-form-label">Image now</label>
            <div class="col-sm-10">
                @{
                    if (awardLogic.GetById(idAward).Photo != null)
                    {
                        <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(awardLogic.GetById(idAward).Photo))">
                    }
                    else
                    {
                        <img src="~/Content/images/default_award.jpg" width="25px" height="25px">
                    }
                }
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Edit award</button>
    </form>
    <a href="/"><div class="btn btn-info">Back to users</div></a>
    <a href="~/awards"><div class="btn btn-info">back to awards</div></a>

    <!--Content section-->
    @RenderPage("~/Pages/_FooterLayout.cshtml")
    <script src="~/Scripts/app/js.js"></script>
    <script src="~/Scripts/app/validation.js"></script>
</body>
</html>